/* NAVIGATION */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-items {
  font-size: 2em;
  text-decoration: none;
  width: 150px;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}

.flex-item {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 150px;
  height: auto;
}

.flex-item:hover {
  color: gray;
}

/* HEADER */
.l-page-heading {
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
}

/* FOOTER */
.flex-container-footer {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-footer {
  text-decoration: none;
  color: black;
  width: 100px;
  height: auto;
}
