/* NAVIGATION */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: stretch;
  font-size: 1.5em;
  padding: 1em;
}

.flex-item {
  text-decoration: none;
  padding: 1em;
  color: white;
}

.flex-item:hover {
  color: #990;
}

nav {
  background-color: black;
}

/* HEADING */
.l-page-heading {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: red;
}

.contact, .github {
  margin-top: 20%;
}

/* FOOTER */
footer {
  background-color: #990;
  padding: 3em 0 1em;
  margin-top: 3em;
  text-align: center;
  width: 100%;
  margin-top: 15%;
}


