/* MAIN SECTION */
.github-image {
  padding-top: 0.5em;
  width: 20%;
  border-radius: 50%;
}

button {
  display: inline-block;
  width: 50%;
}

.github {
  text-align: center;
}

.contact {
  text-align: center;
}













